@{
    ViewBag.Title = "About";
}

<!-- about -->
<section class="wthree-row py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading text-capitalize mb-sm-5 mb-4"> About us </h3>
        <div class="row d-flex justify-content-center">
            <div class="card col-lg-3 col-md-6 border-0">
                <div class="card-body bg-light pl-0 pr-0 pt-0">
                    <h5 class=" card-title titleleft">Dining Chairs</h5>
                    <p class="card-text mb-3">Class aptent taciti sociosqu adis litora torquent per conubia nostra per inceptos himenaeos.</p>
                    <a href="#ab-bot" class="btn scroll">View More</a>
                </div>
                <img class="card-img-top" src="~/Theme/images/a1.jpg" alt="Card image cap">
            </div>
            <div class="card col-lg-3 col-md-6 border-0 mt-md-0 mt-5">
                <img class="card-img-top" src="~/Theme/images/a2.jpg " alt="Card image cap ">
                <div class="card-body bg-light text-center">
                    <h5 class="card-title pt-3">Office Chairs</h5>
                    <p class="card-text mb-3 ">Class aptent taciti sociosqu per conubia nostra per inceptos ad himenaeos.</p>
                    <a href="#ab-bot" class="btn scroll">View More</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 border-0 mt-lg-0 mt-5 ">
                <img class="card-img-top " src="~/Theme/images/a3.jpg " alt="Card image cap ">
                <div class="card-body bg-light text-center">
                    <h5 class="card-title pt-3">Home Chairs</h5>
                    <p class="card-text mb-3 ">Class aptent taciti sociosqu per conubia nostra per inceptos ad himenaeos.</p>
                    <a href="#ab-bot" class="btn scroll">View More</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 border-0 mt-lg-0 mt-5 text-right">
                <div class="card-body bg-light pl-0 pr-0 pt-0">
                    <h5 class="card-title titleright">Architecture</h5>
                    <p class="card-text mb-3">Class aptent taciti sociosqu adis litora torquent per conubia nostra per inceptos himenaeos.</p>
                    <a href="#ab-bot" class="btn scroll">View More</a>
                </div>
                <img class="card-img-top " src="~/Theme/images/a4.jpg " alt="Card image cap ">
            </div>
        </div>
    </div>
</section>
<!-- //about -->
